AppKit==0.2.8
attr==0.3.2
BeautifulSoup==3.2.2
beautifulsoup4==4.13.4
brotli==1.1.0
brotlicffi==1.1.0.0
cffi==1.17.1
ConfigParser==7.2.0
cryptography==44.0.3
Cython==3.1.0
defusedxml==0.7.1
dl==0.1.0
ffmpeg==1.4
ffpyplayer==4.5.2
Flask==3.1.1
gobject==0.1.0
gspread==6.2.1
h2==4.2.0
HTMLParser==0.0.2
ipython==8.12.3
ipywidgets==8.1.7
Jinja2==3.1.6
jnius==1.1.0
js==1.0
keyring==25.6.0
kivymd==1.1.1
Leap==2021.1
lockfile==0.12.2
numpy==2.2.5
olefile==0.47
oscpy==0.6.0
picamera==1.13
protobuf==6.31.0
pyenchant==3.2.2
pygame==2.6.1
PyInstaller==6.13.0
pyobjus==1.2.3
pyodide==0.0.2
PyOpenGL==3.1.9
pyOpenSSL==25.0.0
PyQt6==6.9.0
PySide6==6.9.0
pytest==8.3.5
pytest_asyncio==0.26.0
pytest_trio==0.8.0
pywin32==310
railroad==0.5.0
recommonmark==0.7.1
redis==6.1.0
responses==0.25.7
simplejson==3.20.1
Sphinx==8.2.3
testsuite==0.1.3
tornado==6.4.2
trio==0.30.0
trove_classifiers==2025.5.9.12
truststore==0.10.1
urllib3_secure_extra==0.1.0
watchdog==6.0.0
xmlrpclib==1.0.1
zstandard==0.23.0
~ivymd==1.2.0
